<h1>Tabs#show2</h1>
<%= render :partial=>"tabs", :locals => { :tbhash => [{:label => "first"},{:label => "second"}]} %>
<br>
<br>
<%= render :partial=>"tabs", :locals => { :tbhash => [{:label => "3rd"},{:label => "4th"}]} %>
